[class^="icoair-"], [class*=" icoair-"] {
    position: relative;
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
[class^="icoair-"].small, [class*=" icoair-"].small {
    width: 32px;
    height: 32px;
}
.icoair-ba {
    background-image: url(../images/airline/1x1/BA.jpg);
}
.icoair-br {
    background-image: url(../images/airline/1x1/BR.jpg);
}
.icoair-ca {
    background-image: url(../images/airline/1x1/CA.jpg);
}
.icoair-ci {
    background-image: url(../images/airline/1x1/CI.jpg);
}
.icoair-cx {
    background-image: url(../images/airline/1x1/CX.jpg);
}
.icoair-cz {
    background-image: url(../images/airline/1x1/CZ.jpg);
}
.icoair-dl {
    background-image: url(../images/airline/1x1/DL.jpg);
}
.icoair-ek {
    background-image: url(../images/airline/1x1/EK.jpg);
}
.icoair-ey {
    background-image: url(../images/airline/1x1/EY.jpg);
}
.icoair-fd {
    background-image: url(../images/airline/1x1/fd.jpg);
}
.icoair-ga {
    background-image: url(../images/airline/1x1/GA.jpg);
}
.icoair-hx {
    background-image: url(../images/airline/1x1/HX.jpg);
}
.icoair-jl {
    background-image: url(../images/airline/1x1/JL.jpg);
}
.icoair-ke {
    background-image: url(../images/airline/1x1/KE.jpg);
}
.icoair-kl {
    background-image: url(../images/airline/1x1/KL.jpg);
}
.icoair-lh {
    background-image: url(../images/airline/1x1/LH.jpg);
}
.icoair-mh {
    background-image: url(../images/airline/1x1/MH.jpg);
}
.icoair-nh {
    background-image: url(../images/airline/1x1/NH.jpg);
}
.icoair-nz {
    background-image: url(../images/airline/1x1/NZ.jpg);
}
.icoair-os {
    background-image: url(../images/airline/1x1/OS.jpg);
}
.icoair-oz {
    background-image: url(../images/airline/1x1/OZ.jpg);
}
.icoair-qf {
    background-image: url(../images/airline/1x1/QF.jpg);
}
.icoair-qr {
    background-image: url(../images/airline/1x1/QR.jpg);
}
.icoair-sl {
    background-image: url(../images/airline/1x1/SL.jpg);
}
.icoair-sq {
    background-image: url(../images/airline/1x1/SQ.jpg);
}
.icoair-tg {
    background-image: url(../images/airline/1x1/TG.jpg);
}
.icoair-tk {
    background-image: url(../images/airline/1x1/TK.jpg);
}
.icoair-ua {
    background-image: url(../images/airline/1x1/UA.jpg);
}
.icoair-vn {
    background-image: url(../images/airline/1x1/VN.jpg);
}
.icoair-we {
    background-image: url(../images/airline/1x1/WE.jpg);
}
.icoair-xj {
    background-image: url(../images/airline/1x1/xj.png);
}
.icoair-dd {
    background-image: url(../images/airline/1x1/DD.jpg);
}
.icoair-tr {
    background-image: url(../images/airline/1x1/TR.jpg);
}
.icoair-rj {
    background-image: url(../images/airline/1x1/RJ.jpg);
}
.icoair-rj {
    background-image: url(../images/airline/1x1/RJ.jpg);
}
.icoair-xw {
    background-image: url(../images/airline/1x1/xw.jpg);
}